.HeaderContainer {
  width: 85%;
}
.HeadercContainer_fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row wrap !important;
  /* padding: 1.5%; */
}
.layoutHeaderBorder {
  border-bottom: 1px solid #eceef2;
}
.footerWrapper {
  border-top: 1px solid #eceef2;
}
.bodyContainer {
  width: 85% !important;
}
.bodyContainer_Fluid {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important ;
  flex: row wrap !important;
  /* padding: 1.5%; */
}
